{{ define "main" }}
    <div class="article-header">
        <h2 class="article-title">{{ .Title }}</h2>
        <div class="article-meta">
            <span><i class="far fa-calendar"></i> {{ .Date.Format "January 2, 2006" }}</span>
            <span><i class="far fa-clock"></i> {{ .ReadingTime }} mins Read</span>
            <span><i class="fas fa-tags"></i> {{ delimit .Params.tags ", " }}</span>
        </div>
        <p>{{ .Description }}</p>
    </div>
    
    <div class="article-content">
        {{ .Content }}
    </div>
{{ end }}