<header>
    <h1>GK geekskai</h1>
    <div class="subtitle">Advanced MTP Protocol Solutions for Next-Generation Media Transfer</div>
    
    <div class="tech-card">
        {{ range $index, $tech := (slice "Data Transfer" "Secure" "High-Speed") }}
        <div class="tech-item">
            <div class="tech-icon">
                {{ if eq $tech "Data Transfer" }}
                <i class="fas fa-database"></i>
                {{ else if eq $tech "Secure" }}
                <i class="fas fa-lock"></i>
                {{ else }}
                <i class="fas fa-bolt"></i>
                {{ end }}
            </div>
            <div class="tech-label">{{ $tech }}</div>
        </div>
        {{ end }}
    </div>
</header>