<div class="resources-grid">
    {{ $sections := dict 
        "Resources" (slice (dict "icon" "fas fa-blog" "text" "Blog") 
                        (dict "icon" "fas fa-book" "text" "Documentation")
                        (dict "icon" "fas fa-video" "text" "Tutorials"))
        
        "Free Tools" (slice (dict "icon" "fas fa-file-pdf" "text" "PDF to Markdown")
                        (dict "icon" "fas fa-calculator" "text" "Job Worth Calculator")
                        (dict "icon" "fas fa-sync-alt" "text" "File Converter"))
        
        "Company" (slice (dict "icon" "fas fa-users" "text" "About Us")
                      (dict "icon" "fas fa-briefcase" "text" "Careers")
                      (dict "icon" "fas fa-envelope" "text" "Contact")) 
    }}
    
    {{ range $section, $items := $sections }}
    <div class="resource-column">
        <h3>{{ $section }}</h3>
        <ul class="resource-list">
            {{ range $items }}
            <li>
                <a href="#">
                    <i class="{{ .icon }}"></i>
                    <span>{{ .text }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    
    <div class="resource-column">
        <h3>Connect</h3>
        <div class="social-icons">
            {{ range $social := (slice "fab fa-facebook-f" "fab fa-twitter" "fab fa-instagram" "fab fa-linkedin-in" "fab fa-youtube") }}
            <a href="#" class="social-icon"><i class="{{ $social }}"></i></a>
            {{ end }}
        </div>
        
        <h3 style="margin-top: 30px;">Newsletter</h3>
        <div class="resource-list">
            <li>
                <a href="#">
                    <i class="fas fa-envelope-open-text"></i>
                    <span>Subscribe</span>
                </a>
            </li>
        </div>
    </div>
</div>