<div class="resources-grid">
    <div class="resource-column">
        <h3>Resources</h3>
        <ul class="resource-list">
            <li>
                <a href="#">
                    <i class="fas fa-blog"></i>
                    <span>Blog</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-book"></i>
                    <span>Documentation</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-video"></i>
                    <span>Tutorials</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-file-code"></i>
                    <span>API Reference</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="resource-column">
        <h3>Free Tools</h3>
        <ul class="resource-list">
            <li>
                <a href="#">
                    <i class="fas fa-file-pdf"></i>
                    <span>PDF to Markdown</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-calculator"></i>
                    <span>Job Worth Calculator</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-sync-alt"></i>
                    <span>File Converter</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-code"></i>
                    <span>MTP Tester</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="resource-column">
        <h3>Company</h3>
        <ul class="resource-list">
            <li>
                <a href="#">
                    <i class="fas fa-users"></i>
                    <span>About Us</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    <span>Careers</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-envelope"></i>
                    <span>Contact</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-newspaper"></i>
                    <span>News</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="resource-column">
        <h3>Connect</h3>
        <div class="social-icons">
            <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-discord"></i></a>
        </div>
        
        <h3 style="margin-top: 30px;">Newsletter</h3>
        <div class="resource-list">
            <li>
                <a href="#">
                    <i class="fas fa-envelope-open-text"></i>
                    <span>Subscribe for Updates</span>
                </a>
            </li>
        </div>
    </div>
</div>